<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Customer Reviews</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
			<center>
  			<h1>Select a product name</h1>
				<h3>
				<form method='POST' action='index' > <!-- action must match your next URL -->

				   <p>
						 <select name="product">
							 <option value ="iphone6">iphone 6</option>
							 <option value ="GOOG">GOOG</option>
							 <option value ="NVDA">NVDA</option>
						 </select>
				   </p>
				   <p>
				   <input type='submit' value='Sumbit' /> <!--the 'value' is the word that will appear on your button.-->
				   </p>
				</form>
				</h3>
			</center>
		</div>
	</body>
</html>
